# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

.idea/

/local.properties
system.properties

/*.classpath
/.classpath
/.springBeans
*.DS_Store
*.iml
/build

target/

#*.properties


src/main/resources/
